
body{
    background-color: rgb(167, 241, 247);
    font-family: 'Dongle', sans-serif;
}
h1{
    font-size: 5em;
    margin : 0px;
    text-align: center;
}
h2{
    font-size: 3em;
    margin: 0px;
}
#board{
    padding-top: 3em ;
    text-align: center;

}

.row>div{
    height: 100px;
    width: 100px;
    float: left;
    cursor: pointer;
    text-align: center;
    font-size: 5em;
    line-height:85px;
    
}
.row{
    clear: both;
    width:306px;
    margin: 0 auto;
}
.top{
    border-bottom: 3px solid black;
}
.bottom{
    border-top:3px solid black;
}

.left{
    border-right: 3px solid black;
}
.right{
    border-left: 3px solid black;
}
.btn{
    clear : both;
    text-align:  center;

}
button{

    display: inline-block;
    width : 150px;
    height:50px;
    background-color: rgba(251, 252, 248, 0.733);
    font-size: 2rem;
    font-family: 'Dongle', sans-serif;
    font-weight: bold;
    margin-top: 30px;
    border-radius: 50px;

}

